<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARSwift2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC9850581FF495DF0003B01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC98506F1FF495DF0003B01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC98507A1FF495DF0003B01F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
